---
import "./src/styles/global.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>La Velada del Año 5 - Evento de Boxeo</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta
      name="description"
      content="Evento de Boxeo de Streamer organizado por Ibai Llanos"
    />

    <meta property="og:url" content="https://www.infolavelada.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="La Velada del Año V" />
    <meta
      property="og:description"
      content="Evento de Boxeo de Streamer organizado por Ibai Llanos"
    />
    <meta property="og:image" content="https://www.infolavelada.com/og.jpg" />
    <meta property="og:locale" content="es_ES" />

    <meta
      name="description"
      content="Evento de Boxeo de Streamer organizado por Ibai Llanos"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@alecb6" />
    <meta name="twitter:creator" content="Alejandro " />
    <meta name="twitter:title" content="La Velada del Año V" />
    <meta
      name="twitter:description"
      content="Evento de Boxeo de Streamer organizado por Ibai Llanos"
    />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <!-- contenido de la pagina -->
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
	background-color: #f19fca;
  }

  main {
	min-height: 100vh;
  }
</style>
